In [21]:
import yaml
def dump_yaml(data, filename):
    Dumper = yaml.SafeDumper
    Dumper.ignore_aliases = lambda self, data: True
    with open(filename, 'w', encoding='utf8') as f:
        yaml.dump(data, f, Dumper = Dumper,
                  default_flow_style=False, allow_unicode=True)

In [354]:
def update_mappings(r):
    to_iso = "../data-raw/afrobarometer_to_iso/r%d.yml" % r
    to_wals = "../data-raw/afrobarometer_to_wals/r%d.yml" % r
    out = "../data-raw/afrobarometer-mappings/r%d.yml" % r
    with open(to_wals, 'r') as f:
        data_wals = yaml.load(f)
    dump_yaml(newdata, out)

Add WALS mappings

Generate paths for each ethnologue language

Generate data with distances between languages in the ethnologue. This distance is directed. It is the distance to the closest shared ancestor on the tree.

In [48]:
import csv

lang_ids = set()
with open('../data/afrobarometer_langs.csv', 'r') as f:
    for row in csv.DictReader(f):
        round_ = int(row['round'])
        lang_id = int(row['value'])
        lang_name = row['name']
        key = (round_, lang_id, lang_name)
        lang_ids.add(key)

In [51]:
import yaml
for r in range(1, 7):
    
    with open('../data-raw/afrobarometer-mappings/r%d.yml' % r, 'r') as f:
        data = yaml.load(f)
    newdata = []
    for lang in data:
        key = (r, lang['lang_id'], lang['lang_name'])
        if key in lang_ids:
            newdata.append(lang)
    dump_yaml(data, '../data-raw/afrobarometer-mappings/r%d.yml.new' % r)

In [567]:
import yaml
glottolog_manual = []
for r in range(1, 7):
    filename = "../data-raw/afrobarometer-mappings/r%d.yml" % r
    with open(filename, 'r') as f:
        data = yaml.load(f)
    for row in data:
        if 'glottocode' in row and row['glottocode'] is not None:
            if isinstance(row['glottocode'], str):
                glottocode = [{'glottocode2': row['glottocode']}]
            else:
                for lang, countries in row['glottocode'].items():
                    glottocode = [{'glottocode2': lang, 'iso_alpha2': k} 
                                  for k in countries]
            for g in glottocode:
                for q in row['question']:
                    d = {'round': r,
                         'question': q,
                         'lang_id': int(row['lang_id']),
                         'iso_alpha2': None,
                         **g
                        }
                    glottolog_manual.append(d)

glottolog_manual = pd.DataFrame(glottolog_manual)

# get manual matches
glottolog_manual

   glottocode2 iso_alpha2  lang_id  question  round
0     grus1239       None       71  language      1
1     nort3254       None       86  language      1
2     jara1263       None      178  language      1
3     gbag1256       None      274       q97      2
4     gbag1256       None      277       q83      2
5     gbag1256       None      277       q97      2
6     kale1246       None      380      q110      2
7     kale1246       None      380       q97      2
8     luyi1234       None      384      q110      2
9     luyi1234       None      384       q83      2
10    luyi1234       None      384       q97      2
11    jara1263       None      802      q110      2
12    jara1263       None      802       q83      2
13    gada1257       None      182        q3      3
14    luyi1234       None      202      q103      3
15    luyi1234       None      202      q114      3
16    luyi1234       None      202        q3      3
17    kale1246       None      206      q103      3
18    kale1246       None      206      q114      3
19    kale1246       None      206        q3      3
20    nort3254       None      282      q114      3
21    nort3254       None      282        q3      3
22    bain1261       None      368      q103      3
23    bain1261       None      368      q114      3
24    bain1261       None      368        q3      3
25    gada1257       None      262      Q103      4
26    gada1257       None      262      Q114      4
27    gada1257       None      262        Q3      4
28    grus1239       None      275      Q103      4
29    grus1239       None      275      Q114      4
..         ...        ...      ...       ...    ...
65    senu1239       None     1278      Q116      5
66    senu1239       None     1278        Q2      5
67    dann1241       None     1279      Q116      5
68    dann1241       None     1279        Q2      5
69    jara1263       None     2629      Q116      5
70    arab1395       None        5      Q116      6
71    arab1395       None        5        Q2      6
72    stan1318       None        5      Q103      6
73    berb1260       None       11        Q2      6
74    fula1269       None       18      Q103      6
75    fula1269       None       18      Q116      6
76    fula1269       None       18        Q2      6
77    gada1257       None      262      Q103      6
78    gada1257       None      262      Q116      6
79    gada1257       None      262        Q2      6
80    luyi1234       None      302      Q103      6
81    luyi1234       None      302      Q116      6
82    luyi1234       None      302        Q2      6
83    kale1246       None      304      Q103      6
84    kale1246       None      304        Q2      6
85    libe1240       None      380      Q103      6
86    dann1241       None      384      Q116      6
87    dann1241       None      384        Q2      6
88    libe1240       None      396        Q2      6
89    nort3254       None      516      Q116      6
90    nort3254       None      516        Q2      6
91    senu1239       None     1277      Q116      6
92    dann1241       None     1278        Q2      6
93    berb1260       None     1500      Q116      6
94    nubi1251       None     1541        Q2      6

[95 rows x 5 columns]

In [598]:
import newick
with open("/Users/jrnold/Downloads/tree-glottolog-newick.txt", "r") as f:
    glottolog_tree = newick.load(f)

In [599]:
import re

def parse_node(x):
    node_pattern = """^'?
        (?P<name> .* ) [ ]
        \[ (?P<glottocode> [a-z0-9]{8} ) \]
        (?: \[ (?P<iso_639_3> [a-z]{3} ) \] ) ?
        (?P<language> -l- ) ?
    '?$"""
    m = re.match(node_pattern, x, re.X)
    if m is not None:
        out = m.groupdict()
        out['language'] = out['language'] is not None
        return out

In [600]:
def walk_tree(x):
    node = parse_node(x.name)
    node['children'] = [walk_tree(n) for n in x.descendants]
    return node

glottolog_newtree = [walk_tree(x) for x in glottolog_tree]

In [613]:
import os
try:
    os.makedirs('../external/glottolog/')
except FileExistsError:
    pass

In [612]:
with open('../external/glottolog/tree-glottolog.json', 'w') as f:
    json.dump(glottolog_newtree, f, indent = 1)

In [572]:
import csv

langs = {}
filename = "../data/afrobarometer_to_iso_639_3.csv"
with open(filename, 'r') as f:
    reader = csv.DictReader(f)
    for row in reader:
        key = (row['round'], row['question'], row['lang_id'], row['iso_alpha2'])
        if row['iso_scope'] == 'I':
            iso_code = row['iso_639_3']
            try:
                langs[key].add(iso_code)
            except KeyError:
                langs[key] = {iso_code}

In [573]:
glottolog_auto = []
# Keep track of those already matched
for lang, iso_codes in langs.items():
    glottocode = None
    maxdepth = -1
    for leaf in leaves:
        if leaf['level'] > maxdepth and len(iso_codes) > 0:
            if iso_codes.issubset(leaf['iso_codes']):
                maxdepth = leaf['level']
                glottocode = leaf['glottocode']
    glottolog_auto.append({
        'round': int(lang[0]),
        'question': lang[1],
        'lang_id': int(lang[2]),
        'iso_alpha2': lang[3],
        'glottocode': glottocode
    })
glottolog_auto = pd.DataFrame(glottolog_auto)

In [529]:
import pandas as pd
import numpy as np

In [558]:
glottolog_manual.dtypes

glottocode2    object
iso_alpha2     object
lang_id         int64
round           int64
dtype: object

In [554]:
# remove already matched languages
glottolog_auto.merge(glottolog_manual[('round', 'question', 'lang_id')],
                     on = ('round', 'question', 'lang_id'),
                     how = 'left', indicator = True)

KeyError: ('round', 'question', 'lang_id')

In [530]:
afrobarometer_langs = pd.read_csv("../data/afrobarometer_langs.csv",
               na_values = '', keep_default_na = False).\
    astype({'value': np.int64}).\
    rename(columns = {'value': "lang_id"})

In [531]:
afrobarometer_langs = afrobarometer_langs.merge(glottocode_manual.\
                              rename(columns = {'value': 'lang_id'}),
                          how = 'outer',
                          on = ('round', 'question', 'lang_id', 'country'))

      round  question  lang_id        name  country iso_alpha2 glottocode
0         1  language        1   Afrikaans        1         BW   afri1274
1         1  language        1   Afrikaans        6         NA   afri1274
2         1  language        1   Afrikaans        8         ZA   afri1274
3         1  language        2       Chewa        1         BW   nyan1308
4         1  language        2       Chewa        4         MW   nyan1308
5         1  language        2       Chewa       12         ZW   nyan1308
6         1  language        3  Chinyungwe        4         MW   nyun1248
7         1  language        3  Chinyungwe        6         NA   nyun1248
8         1  language        4     Chisena        4         MW   mala1475
9         1  language        4     Chisena       11         ZM   mala1475
10        1  language        5      Damara        1         BW   nama1264
11        1  language        5      Damara        6         NA   nama1264
12        1  language        5      Damara       11         ZM   nama1264
13        1  language        5      Damara       12         ZW   nama1264
14        1  language        6     English        1         BW   stan1293
15        1  language        6     English        3         LS   stan1293
16        1  language        6     English        4         MW   stan1293
17        1  language        6     English        6         NA   stan1293
18        1  language        6     English        8         ZA   stan1293
19        1  language        6     English       11         ZM   stan1293
20        1  language        6     English       12         ZW   stan1293
21        1  language        7      German        1         BW   stan1295
22        1  language        7      German        6         NA   stan1295
23        1  language        8        Nama        6         NA   nama1264
24        1  language        8        Nama       12         ZW   nama1264
25        1  language        9     Ndebele        1         BW   nort2795
26        1  language        9     Ndebele        3         LS   sout2808
27        1  language        9     Ndebele        6         NA   nort2795
28        1  language        9     Ndebele        8         ZA   sout2808
29        1  language        9     Ndebele       11         ZM   nort2795
...     ...       ...      ...         ...      ...        ...        ...
3898      6        Q2     9995       Other        8         CI        NaN
3899      6        Q2     9995       Other        6         CM        NaN
3900      6        Q2     9995       Other       10         GA        NaN
3901      6        Q2     9995       Other       11         GH        NaN
3902      6        Q2     9995       Other       12         GN        NaN
3903      6        Q2     9995       Other       13         KE        NaN
3904      6        Q2     9995       Other       18         ML        NaN
3905      6        Q2     9995       Other       19         MU        NaN
3906      6        Q2     9995       Other       17         MW        NaN
3907      6        Q2     9995       Other       21         MZ        NaN
3908      6        Q2     9995       Other       22         NA        NaN
3909      6        Q2     9995       Other       23         NE        NaN
3910      6        Q2     9995       Other       24         NG        NaN
3911      6        Q2     9995       Other       29         SD        NaN
3912      6        Q2     9995       Other       26         SN        NaN
3913      6        Q2     9995       Other       30         SZ        NaN
3914      6        Q2     9995       Other       32         TG        NaN
3915      6        Q2     9995       Other       31         TZ        NaN
3916      6        Q2     9995       Other       34         UG        NaN
3917      6        Q2     9995       Other       28         ZA        NaN
3918      6        Q2     9995       Other       35         ZM        NaN
3919      6        Q2     9995       Other       36         ZW        NaN
3920      6        Q2     9999  Don't know        6         CM        NaN
3921      6        Q2     9999  Don't know       15         LR        NaN
3922      6        Q2     9999  Don't know       17         MW        NaN
3923      6        Q2     9999  Don't know       21         MZ        NaN
3924      6        Q2     9999  Don't know       29         SD        NaN
3925      6        Q2     9999  Don't know       25         ST        NaN
3926      6        Q2     9999  Don't know       31         TZ        NaN
3927      6        Q2     9999  Don't know       35         ZM        NaN

[3928 rows x 7 columns]

In [494]:
afrobarometer_langs

      round  question  lang_id        name  country iso_alpha2
0         1  language        1   Afrikaans        1         BW
1         1  language        1   Afrikaans        6         NA
2         1  language        1   Afrikaans        8         ZA
3         1  language        2       Chewa        1         BW
4         1  language        2       Chewa        4         MW
5         1  language        2       Chewa       12         ZW
6         1  language        3  Chinyungwe        4         MW
7         1  language        3  Chinyungwe        6         NA
8         1  language        4     Chisena        4         MW
9         1  language        4     Chisena       11         ZM
10        1  language        5      Damara        1         BW
11        1  language        5      Damara        6         NA
12        1  language        5      Damara       11         ZM
13        1  language        5      Damara       12         ZW
14        1  language        6     English        1         BW
15        1  language        6     English        3         LS
16        1  language        6     English        4         MW
17        1  language        6     English        6         NA
18        1  language        6     English        8         ZA
19        1  language        6     English       11         ZM
20        1  language        6     English       12         ZW
21        1  language        7      German        1         BW
22        1  language        7      German        6         NA
23        1  language        8        Nama        6         NA
24        1  language        8        Nama       12         ZW
25        1  language        9     Ndebele        1         BW
26        1  language        9     Ndebele        3         LS
27        1  language        9     Ndebele        6         NA
28        1  language        9     Ndebele        8         ZA
29        1  language        9     Ndebele       11         ZM
...     ...       ...      ...         ...      ...        ...
3898      6        Q2     9995       Other        8         CI
3899      6        Q2     9995       Other        6         CM
3900      6        Q2     9995       Other       10         GA
3901      6        Q2     9995       Other       11         GH
3902      6        Q2     9995       Other       12         GN
3903      6        Q2     9995       Other       13         KE
3904      6        Q2     9995       Other       18         ML
3905      6        Q2     9995       Other       19         MU
3906      6        Q2     9995       Other       17         MW
3907      6        Q2     9995       Other       21         MZ
3908      6        Q2     9995       Other       22         NA
3909      6        Q2     9995       Other       23         NE
3910      6        Q2     9995       Other       24         NG
3911      6        Q2     9995       Other       29         SD
3912      6        Q2     9995       Other       26         SN
3913      6        Q2     9995       Other       30         SZ
3914      6        Q2     9995       Other       32         TG
3915      6        Q2     9995       Other       31         TZ
3916      6        Q2     9995       Other       34         UG
3917      6        Q2     9995       Other       28         ZA
3918      6        Q2     9995       Other       35         ZM
3919      6        Q2     9995       Other       36         ZW
3920      6        Q2     9999  Don't know        6         CM
3921      6        Q2     9999  Don't know       15         LR
3922      6        Q2     9999  Don't know       17         MW
3923      6        Q2     9999  Don't know       21         MZ
3924      6        Q2     9999  Don't know       29         SD
3925      6        Q2     9999  Don't know       25         ST
3926      6        Q2     9999  Don't know       31         TZ
3927      6        Q2     9999  Don't know       35         ZM

[3928 rows x 6 columns]